:root {
	--black: #000;
	--white: #FFF;
    --red: #F00;

	--bg-main: #F5FAFF;
    --bg-panel: #E9F3FF;

    --color-main1: #534B9B;
    --color-main2: #332A7C;

    --link-color: #3871E0;
    --label-color: #A5A6FB;
    --tag-color: #4D9FEB;
    --review-color: #E3E4FF;
    --btn-two: #004788;
    --tag-color2: #D9F0FF;
    --heart-blue: #0085FF;
    --google-link: #5383EC;

    --grey1: #BABABA;
    --gray2: #807F7F;
    --gray3: #DDDFE3;
    --gray4: #B7B7B7;
    --gray5: #D3D3D3;

    --input-hover: #9BD0F3;
    --input-success: #05C83C;
    --input-erorr: #F11111;

    --star-active: #DCDF44;

    --opacity1: rgba(0, 0, 0, 0.15);

    --close-block: rgba(211, 211, 211, 0.3);

    --transparent: rgba(0, 0, 0, 0);
}