:root {
	--black: #000;
	--white: #FFF;

	--bg-main: #F5FAFF;
    --bg-panel: #E9F3FF;

    --color-main1: #534B9B;
    --color-main2: #332A7C;

    --link-color: #3871E0;
    --label-color: #A5A6FB;

    --grey1: #BABABA;
    --gray2: #807F7F;

    --opacity1: rgba(0, 0, 0, 0.15);
}