.account-short {
    background: var(--white);
    border-radius: 30px;
    width: 100%;
    margin: 90px 0 20px;
    padding: 110px 30px 20px;
    position: relative;
    text-align: center;

    &__pict {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 180px;
        width: 180px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__name {
        font-weight: 600;
        font-size: 24px;
        margin: 0 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__verification {
        margin: 0 0 0 5px;
    }
    &__login {
        font-weight: 600;
        font-size: 15px;
        color: var(--gray4);
        margin: 0 0 15px;
    }
    &__rating {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 20px;

        &-count {
            font-weight: 600;
            margin: 0 12px 0 0;
        }
        &-reviews {
            font-weight: 500;
            margin: 0 0 0 14px;
            color: var(--tag-color);
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        height: 65px;
        overflow: hidden;

        &_open {
            height: auto;
        }
        &_short {
            margin: 0 0 -20px;
        }
    }
    &__item {
        width: 25%;
        margin: 0 0 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__num {
        font-weight: 600;
        font-size: 18px;
        margin: 0 0 10px;
    }
    &__desc {
        font-weight: 500;
        font-size: 14px;
    }
    &__more {
        stroke: var(--tag-color);
        fill: var(--tag-color);

        &:hover {
            stroke: var(--link-color);
            fill: var(--link-color);
        }
        &-icon {
            height: 30px;
            width: 30px;

            &_close {
                display: none;
            }
        }
    }
    &__items_open &__more-icon_open {
        display: none;
    }
    &__items_open &__more-icon_close {
        display: block;
    }
}