.item-label {
    height: 24px;
    background-color: var(--label-color);
    font-weight: 500;
    font-size: 13px;
    color: var(--white);
    position: absolute;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    border-radius: 12px;
    top: 13px;
    right: 14px;

    &_big {
        height: 32px;
        border-radius: 16px;
        font-size: 17px;
        padding: 0 11px;
    }

    &-two {
        font-weight: 500;
        font-size: 24px;
        color: var(--white);
        background: var(--tag-color);
        padding: 0 15px;
        height: 42px;
        position: absolute;
        z-index: 2;
        display: flex;
        align-items: center;
        border-radius: 21px;
        bottom: 20px;
        right: 20px;

        &_up {
            right: 15px;
            top: 15px;
            height: 34px;
            border-radius: 17px;
            font-size: 20px;
            padding: 0 10px;
        }
        &__small {
            font-size: 14px;
            margin: 0 0 0 5px;
        }
    }
}