.radio-item {
    position: relative;

    &__input {
        position: absolute;
        opacity: 0;
        z-index: 1;
    }
    &__label {
        font-weight: 300;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        padding: 0 0 0 20px;

        &:before {
            content: "";
            border: 1px solid var(--black);
            width: 15px;
            height: 15px;
            position: absolute;
            border-radius: 50%;
            left: 0;
        }
    }
    &__input:checked + &__label:after {
        content: "";
        width: 11px;
        height: 11px;
        background-color: var(--tag-color);
        position: absolute;
        left: 2px;
        border-radius: 50%;
        top: 2px;
    }
}