@@include("../blocks/modules/header-footer/header.html", { "class" : 'registration-page' })
<div class="registration-page__parts">
    <div class="registration-page__part registration-page__part_left">
        @@include("../blocks/modules/registration-info/registration-info.html")
    </div>
    <div class="registration-page__part registration-page__part_right">
        <div class="registration-page__top-link">Not a member? <a href="javascript:;">Sign up now</a></div>
        @@include("../blocks/modules/registration-form/login-two.html")
    </div>
</div>
@@include("../blocks/modules/header-footer/footer.html")