@@include("../blocks/modules/header-footer/header.html", { "class" : 'registration-page' })
<div class="registration-page__parts">
    <div class="registration-page__part registration-page__part_left">
        @@include("../blocks/modules/registration-info/registration-info.html")
    </div>
    <div class="registration-page__part registration-page__part_right">
        @@include("../blocks/modules/registration-form/registration-one.html")
    </div>
</div>
@@include("../blocks/modules/header-footer/footer.html")