.search-user-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 25px;

    &__search {
        width: calc(100% - 420px);
    }
    &__title {
        font-weight: 300;
        font-size: 50px;
        line-height: 1;
        color: var(--color-main2);
    }
    &__user {
        width: 365px;
    }
}