.recommendation {

    &-block {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            font-weight: 600;
            font-size: 25px;
            color: var(--color-main2);
            width: 100%;
        }
        &__block {
            height: calc(100% - 135px);
        }
        &__slider {
            height: 100%;

            &-next {
                width: 44px;
                height: 44px;
                background-color: var(--color-main2);
                border-radius: 50%;
                fill: none;
                stroke: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--color-main1);
                }

                &-icon {
                    width: 23px;
                    height: 14px;
                }
            }
        }
    }

    &-item {
        height: 256px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        color: var(--white);

        &:after {
            content: "";
            background: var(--opacity1);
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transition: .5s;
        }
        &:hover {
            color: var(--white);

            &:after {
                opacity: 0;
            }
        }

        &__block {
            position: absolute;
            z-index: 4;
            left: 24px;
            bottom: 17px;
            right: 24px;
        }
        &__name {
            border-bottom: 1px solid var(--white);
            padding: 0 0 15px;
            margin: 0 0 15px;
            font-weight: 500;
            font-size: 20px;
        }
    }
}