.promoting-tariff {
    max-width: 1360px;
    margin: 0 auto 30px;

    &__title {
        font-weight: 500;
        font-size: 30px;
        margin: 0 0 25px;
        text-align: center;
    }
    &__items {
        display: flex;
        margin: 0 -10px;
    }
    &-item {
        width: calc(100% / 3 - 20px);
        margin: 0 10px;

        &__inner {
            height: 100%;
            overflow: hidden;
            border-radius: 30px;
            background-color: var(--white);
        }
        &__head {
            background-color: var(--tag-color);
            color: var(--white);
            height: 90px;
            font-weight: 600;
            font-size: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__body {
            padding: 40px 25px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100% - 90px);
        }
        &__points {
            padding: 0 0 5px 15px;
        }
        &__point {
            position: relative;
            padding: 0 0 0 30px;
            font-size: 15px;
            line-height: 20px;
            margin: 0 0 15px;
        }
        &__icon {
            width: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
        &__block {
            border-top: 1px solid var(--gray4);
            padding: 15px 0 0;
            text-align: center;
        }
        &__old-price {
            font-weight: 600;
            font-size: 25px;
            line-height: 30px;
            height: 30px;
            color: var(--red);
            text-decoration: line-through;
        }
        &__price {
            font-weight: 600;
            font-size: 40px;
            margin: 0 0 15px;
        }
        &__btn {
            height: 60px;
            border-radius: 20px;
        }
        &__comment {
            font-size: 14px;
            color: var(--gray2);
            height: 17px;
            margin: 17px 0 0;
        }
    }
}